<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title>home blog</title>
	</head>
	<body>
		<nav>
			<h4>Blog CRUD</h4>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href='/blog'>Blogs</a></li>
				<li><a href='/page/form'>Register</a></li>
				<li><a href='/table'>Table</a></li>
			</ul>
		</nav>

		<div class="container mt-4">
			 <div class="alert alert-primary" role="alert">
                Create
			</div>
			<div class="alert alert-secondary" role="alert">
                Read
			</div>
			<div class="alert alert-success" role="alert">
                Update
			</div>
            <div class="alert alert-danger" role="alert">
                Delete
            </div>
		</div>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>